html {
    background-color: rgba(253, 246, 227, 0.7);
}


button {
    margin: 1rem;
    padding: 1rem;
    min-width: 6rem;
    min-height: 6rem;
    background-image: url("/assets/crack-lighter.png");
    background-position: center;
    background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0,0,0,0.1);
  color:red;
  font-weight: 300;
font-size: x-large;
border-top: 2px solid #ccc;
border-left: 2px solid #ccc;
border-bottom: 2px solid #777;
border-right: 2px solid #777;


    color: white;
    
    text-shadow:
  2px 2px 15px deeppink,
  -2px -2px 5px red,
  -5px 5px 15px darkviolet,
  5px -5px 15px darkviolet,
  -10px -10px 15px blue,
  10px 10px 15px blue;

}
button:hover {
    background-color: rgba(64,0,0,0.5);
    border: 2px dashed red;
}

textarea {
    min-width: 450px;
    min-height: 150px;
}


th {
  position: sticky;
  top: 0;
}